@use "../../scss/variables.scss" as *;

.dashboard_layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f6fa;
}

.main_content {
  flex: 1;
  padding: 24px 28px;
  overflow-y: auto;
  min-height: 100vh;
}
