$black-color: #181818;
$primary-color: #233d29;
$primary-light: #22875a;
$title-color: #1f2937;

$header-bg-color: #0f172a;
$white-color: #fff;
$border-color: #c4c4c4;
$red-color: #e02424;
$blue-color: #7ea5ff;
$yellow-color: #f2e7c8;
$orange-color: #cceaff;
$green-color: #0f3d2e;
$saffron-color: #ef9607;

$lightblue-bg: #dbeef9;
$beige-bg: #f9f4e5;

$text-light: #9ca3af;
